.greenButton {
	background-color:#7cdf95;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #7cdf95;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cdf95;
}
.greenButton:hover {
	background-color:#72bd85;
}
.greenButton:active {
	position:relative;
	top:1px;
}

.two-columns {
    display: flex;
    align-items:center; 
}

.imagenlat {
    width: 100%;
}

.column2 {
    margin-left: 20px;
    margin-right: 130px;
}

span {
 margin-left: 18px;
}


.img-text{
   display: flex;
   align-items:center;  
}

.text-cent{
    align-content: center;
    justify-content: center;
    align-content: center;
}

.greenBox {
    background-color: #7cdf95;
}