h1 {
    color: white;
    font-size: 75px;
}

.greenButton {
	background-color:#7cdf95;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #71ca87;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cdf95;
}
.greenButton:hover {
	background-color:#72bd85;
}
.greenButton:active {
	position:relative;
	top:1px;
}

.button-border {
    border: 4px solid white;
}

.two-columns {
    display: flex;
    align-items:center; 
}

.imagenlat {
    width: 100%;
}

.column2 {
    margin-left: 20px;
    margin-right: 130px;
}

span {
 margin-left: 18px;
}


.img-text{
   display: flex;
   align-items:center;  
}

.text-cent{
    align-content: center;
    justify-content: center;
}

.greenBox {
    background-color: #7cdf95;
    padding: 60px 140px;
}

.greenBox-button {
    display: flex;
   align-items:center;
   justify-content: center;
}

.title-center {
    display: flex;
    justify-content: center;
    margin: 60px 0;
}

.three-columns {
    margin: 30px 140px;

}

.img-columns{
    width: 100%;
}

.boxBlue{
    background-color: #505a78;
    display: flex;
    justify-content: center;
    padding: 35px 0;

}

.boxBlue-content {
    align-content: center;
}

.greenButton2 {
    background-color:#7cdf95;
	border:1px solid #71ca87;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:8px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cdf95;
}

.greyBack {
    background-color: #f1f1f1;
}

.whiteBox {
    background-color: white;
    margin-left: 160px;
    margin-right: -200px;
    padding: 30px;
    position: relative;
    box-shadow: 4px 4px 6px grey;
    z-index: 2;
}

.footer-box {
    padding-top: 30px;
    background-color: #505a78;
color: white;
}

.img-footer{
    height: 50px;
}